/* $Id$ */

.hot-deals-list {
	min-height: 110px;
}
.hot-deals-item {
	float: left;
	list-style: none;
	width: 24.99%;
	overflow: hidden;
}
.hot-deals-item center {
	padding: 0 5px;
	margin: 0;
	float: none;
}
.hot-deals-container {
	padding: 20px 0;
}
.hot-deals-list {
	margin: 0 35px;
}
.hot-deals-next {
	float: right;
	margin: 43px 11px 0 0;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background: transparent url(../../images/icons/next_btn.gif) no-repeat 0 0;
	display: inline;
}
.hot-deals-prev {
	float: left;
	margin: 43px 0 0 12px;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background: transparent url(../../images/icons/prev_btn.gif) no-repeat 0 0;
	display: inline;
}
.deals-footer {
	padding: 8px;
	margin: 3px;
}
.deals-footer a.active {
	font-weight: bold;
}
.deals-main .pagination {
	margin: -15px 15px -5px;
	float: right;
	padding-left: 3px;
}
.deals-main .updates-wrapper {
	background-image: none;
	width: auto;
	border-width: 1px;
	border-style: solid;
}